# Swift Package Manager
.build/
.swiftpm/

# Xcode
xcuserdata/
*.xcodeproj
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata
DerivedData/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
